<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Selenium Test Suite">
  <test name="UI Tests">
    <classes>
      <class name="tests.GoogleResultsLinksTest"/>
      <class name="tests.GoogleSearchResultsTest"/>
      <class name="tests.GoogleTitleTest"/>
      <class name="tests.QADemoTests"/>
    </classes>
  </test>
</suite>
